@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    width: 80%;
    max-width: 1800px;
    margin: auto;
}

body {
  @apply bg-slate-50
}

h1 {
  @apply font-yeseva text-4xl font-bold mb-8
}

p {
  @apply font-monstserrat
}

h2 a:href {
  @apply font-monstserrat font-bold text-xl;
}

a {
  @apply no-underline;
}
